.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{
  background-color: #E9ECEF !important;
} */

.petsGrid {
  padding: 25px;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.modalImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.modalTextContainer {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.modal-content {
  padding-bottom: 0px 25px 25px 25px;
}

.list-group {
  width: 100%;
}

.headers {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.contacts-table {
  margin-bottom: 25px !important;
}