.App {
  text-align: center;
  margin-top: 56px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* body{
  background-color: #E9ECEF !important;
} */

.petsGrid {
  padding: 25px;
}

.modal-body {
  display: flex;
  justify-content: center;
  padding-top: 0px !important;
}

.modalImageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 75px 0px 75px 0px;
  border: 0.5px solid;
  border-radius: 15px;
}

.modalTextContainer {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.modal-content {
  padding: 0px 0px 50px 0px !important;
}

.list-group {
  width: 90%;
}

.headers {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.contacts-table {
  margin-bottom: 25px !important;
}

.tableItem {
  max-width: 20px;
}

span.page-link {
  background-color: #0dcaf0 !important;
  border-color: #0dcaf0 !important;
}

a.page-link {
  color: #0dcaf0 !important;
}

.form-check-input:checked {
  background-color: #0dcaf0 !important;
  border-color: #0dcaf0 !important;
}

.pet-card {
  transition: 0.5s;
  border: 1px solid grey !important;
}

.pet-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(5, 123, 147, 0.2), 0 6px 20px 0 rgba(5, 123, 147, 0.2);
}

.modalColumn {
  width: 90% !important;
}

.modal-header {
  border: none !important;
}

.modalImage {
  transition: 0.5s;
}

.modalImage:hover {
  transform: scale(1.05);
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}